<div class="navbar-smap">
  <!-- Logo -->
  <a href="/" class="navbar-smap-brand">
    <%= image_tag "logo.png"%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-smap-right">

    <a href="/user/profile" class="navbar-smap-item navbar-smap-link">Profil</a>
    <a href="" class="navbar-smap-item navbar-smap-link">Locations</a>
    <a href="" class="navbar-smap-item navbar-smap-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-smap-item">
      <div class="dropdown">
        <% if current_user && current_user.avatar_photo != nil  %>
        <%= image_tag current_user.avatar_photo, class:"avatar dropdown-toggle", id:"navbar-smap-menu"%>
        <% else %>
        <%= image_tag "logo.png", class:"avatar dropdown-toggle", id:"navbar-smap-menu"%>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-smap-dropdown-menu">
          <li><a href="#">Profil</a></li>
          <li><a href="#">Tableau de bord</a></li>
          <li><a href="#">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
