<h1>New rental</h1>
<%= simple_form_for([@car, @rental], html: { class: 'form-inline' }) do |f| %>
  <%= f.input :checkin, as: :string, label: false, input_html: { id: 'checkin_datepicker' }, placeholder: 'Début'  %>
  <%= f.input :checkout, as: :string, label: false, input_html: { id: 'checkout_datepicker' }, placeholder: 'Fin' %>
  <%= f.submit %>
<% end %>


<!-- <div class='col-md-5'>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class='col-md-5'>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div> -->
