<h1>New rental</h1>
<%#= simple_form_for [@car, @rental] do |f| %>
  <%#= f.text_field :checkin, id: 'checkin_datepicker'  %>
  <%#= f.text_field :checkout, id: 'checkout_datepicker' %>
  <%#= f.submit %>
<%# end %>


<div class='col-md-5'>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class='col-md-5'>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
