<div class="container">
  <h1> Our available cars </h1>
  <%= link_to "Add your car!", new_car_path %>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/card', car: car %>
      </div>
    <% end %>
  </div>
</div>
